body {
    font-family: sans-serif;
    margin: 0 50px;
}

.container {
    display: flex;
    gap: 50px;
}

#posts {
    width: 400px;
}

#posts>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    display: flex;
    gap: 25px;
}